
/*
:root {
  --dk-grey: #263238;
  --hot-pink: #EC407A;
  --yellow: #FDD835;
  --green: #8BC34A;
  --white: #FAFAFA;
}

*/

/* Universal Styles */
body {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  background-image: url("../img/crowd-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Typography */
h1 {
  letter-spacing: 0.3rem;
}

h1 a {
  color: #ffffff;
  text-decoration: none;
}

h1:first-letter {
  color: #e64f85;
}

h2 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

/* Header */
header {
  padding: 1rem;
  background: #263238;
}

.menu-icon {
  width: 2.5rem;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
}

.menu-icon:hover {
  cursor: pointer;
}

nav {
  position: absolute;
  left: 0;
  background-color: #263238;
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
}

/* Active Nav */
nav.active-nav {
  max-height: 45.3rem;
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-menu li {
  margin: 0 1.5rem;
  line-height: 5rem;
  border-bottom: 1px solid #00263e;
  white-space: nowrap;
  position: relative;
  
  
}

.main-menu li:last-of-type {
  border-bottom: none;
}

.main-menu a {
  display: block;
  padding-left: 0.6rem;
  color: #ffffff;
  background-color: #263238;
  font-weight: bold;
  text-decoration: none;
}

.main-menu a:active {
  border-radius: 0.3rem;
  background-color: #263238;
}

a.first-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

a.first-link img {
  width: 1rem;
}

a.first-link img:first-of-type {
  margin-right: 1rem;
}

a.first-link img:last-of-type {
  display: none;
}

main section {
  margin: 3.125rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.content-box {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  max-width: 450px;
  text-align: center;
  z-index: 2;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00263e
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #00263e
}

.btn {
  background: linear-gradient(to right, #EC407A, #FDD835);
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn:hover {
  background: linear-gradient(to right, #EC407A, #FDD835);
}


/* Desktop view */
@media only screen and (min-width: 950px) {
  .menu-icon {
    display: none;
  }

  header {
    display: flex;
  }

  nav {
    display: flex;
    max-height: 100vh;
    overflow: visible;
    position: static;
    width: auto;
  }

  nav a.first-link img:last-of-type {
    display: inline;
  }

  .main-menu {
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-menu li {
    border-bottom: none;
  }

  .main-menu li > .dropdown-menu {
    visibility: inherit;
    opacity: 0;
  }

  .main-menu li:hover > .dropdown-menu {
    visibility: visible;
    max-height: 100vh;
    opacity: 1;
  }

  .main-menu a:hover {
    text-decoration: underline;
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #263238;
    border-radius: 0.3rem;
  }
}